version: "3"
services: 
  server:
    build: .
    image: lfrezarini/kungfighters
    container_name: kungfighters_server
    ports: 
      - ${SERVER_PORT}:${SERVER_PORT}
    volumes:
      - ./src:/app/src
    env_file: .env
    depends_on: 
      - db
  db:
    image: mongo:3.6.3
    container_name: mongodb
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:

    